body {
  font-family: sans-serif;
  position: relative;
  /* overflow: hidden; */
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 100vw;
  height: 100vh;
  background-image: url(images/images.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.container2 {
  max-width: 100vw;
  height: 100vh;
  width: 100%;
  background-image: url(images/background2.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container3 {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  background-image: url(images/background3.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  background-color: white;
  /* backdrop-filter: blur(15px); */
  /* background: transparent; */
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 100vw;
  width: 100%;
  height: 14vh;
}
.navbar > .logo > img {
  max-width: 90px;
  width: 100%;
  height: auto;
}
.links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
  font-size: 30px;
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: black;
  &:hover {
    color: brown;
  }
}
.container > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .content .heading {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  text-transform: uppercase;
}
.container .content .para {
  font-size: 20px;
  color: white;
  text-align: center;
}
.container .content .button button {
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  height: 30px;
  width: 170px;
  background: transparent;
  margin-top: 20px;
}
@media (max-width: 991.98px) {
  .container {
    height: 100vh;
  }
  .container .content {
    text-align: center;
  }
}
.container2 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  font-family: sans-serif;
  padding: 5px;
}
.container2 .heading {
  text-transform: uppercase;
  color: white;
  font-size: 30px;
}
.container2 .para {
  color: white;
  text-align: center;
}
@media (max-width: 991.98px) {
  .container2 .para {
    font-size: 12px;
  }
}
.container3 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  font-family: sans-serif;
}
.container3 .content .heading {
  font-size: 30px;
  color: white;
}
.navbar .cancel-btn button {
  cursor: pointer;
  border: none;
  display: none;
}
@media (max-width: 991.98px) {
  .navbar .logo img {
    width: 50px;
  }
  .navbar .cancel-btn button {
    display: block;
    background: transparent;
  }
  .navbar .links {
    display: none;
  }
}
.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  max-width: 100vw;
  width: 100%;
  flex-wrap: wrap;
}
.footer p {
  margin-left: 10px;
}
@media (max-width: 991.98px) {
  .footer p {
    text-align: center;
  }
}
.back-to-top {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: seagreen;
  border-radius: 5px;
  position: absolute;
  left: 90%;
}
.back-to-top a {
  text-decoration: none;
  color: white;
}
@media (max-width: 991.98px) {
  .back-to-top {
    display: none;
  }
}
.toggle-navbar {
  position: fixed;
  background-color: white;
  max-width: 100vw;
  width: 100%;
  z-index: 1000;
}
.toggle-navbar .links > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-left: -80%;
}
